@model сoursework.Data.Models.ObjectsDB.Employee

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить сотрудника?</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt>
            Имя: @Html.DisplayFor(model => model.name)
        </dt>
        <dt>
            Фамилия:  @Html.DisplayFor(model => model.surname)
        </dt>
        <dt>
            Отчество: @Html.DisplayFor(model => model.patronymic)
        </dt>
        <dt>
            Путь к фото: @Html.DisplayFor(model => model.imgPath)
        </dt>
        <dt>
            Альтернативный текст: @Html.DisplayFor(model => model.imgAlterText)
        </dt>
        <dt>
            Номер телефона: @Html.DisplayFor(model => model.phoneNumber)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
