@model сoursework.Data.Models.ObjectsDB.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patronymic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imgPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imgPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imgAlterText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imgAlterText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
