@model сoursework.Data.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы точно хотите удалить эту книгу?</h3>
<div>
    <h4>Книга</h4>
    <hr />
    <dl class="row">
        <dt>
            Название: @Html.DisplayFor(model => model.title)
        </dt>
        <dt>
            Описание: @Html.DisplayFor(model => model.description)
        </dt>
        <dt>
            Цена: @Html.DisplayFor(model => model.cost)
        </dt>
        <dt>
            Количество: @Html.DisplayFor(model => model.quantity)
        </dt>
        <dt>
            Год: @Html.DisplayFor(model => model.year)
        </dt>
        <dt>
            Путь к картинке: @Html.DisplayFor(model => model.imgPath)
        </dt>
        <dt>
            Альтернативный текст: @Html.DisplayFor(model => model.imgAlterText)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a class="button-action" asp-action="Index">Вернуться назад</a>
    </form>
</div>
