@model IEnumerable<сoursework.Data.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Таблица Books</h1>

<p>
    <a class="button-action" asp-action="Create">Добавить новую книгу</a>
</p>
<br />
<table class="Table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Название
            </th>
            <th>
                Описание
            </th>
            <th>
                Цена
            </th>
            <th>
                Количество
            </th>
            <th>
                Год
            </th>
            <th>
                Путь к картинке
            </th>
            <th>
                Альтернативный текст
            </th>
            <th>
                Автор книги
            </th>
            <th>
                Издатель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imgPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imgAlterText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisher.title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Изменить</a> <br />
                <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
