@model HomeViewModel
@{
    Layout = "_Layout";
}

<table class="Table">
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td>Количество</td>
        </tr>
    </thead>
    <tbody id="tbody">
        @{
            foreach (var book in Model.bookRep.GetBooks().Result)
            {
                <tr>
                    <td>
                        <img src="@book.imgPath" alt="@book.imgAlterText Text"/>
                    </td>
                    <td>
                        <h3>@book.title</h3>
                        @book.description
                    </td>
                    <td>
                        @book.quantity
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
