@model List<сoursework.Data.Models.Store>

<h1>Информация о магазинах</h1>
<hr />
<table class="Table">
    <thead>
        <tr>
            <th>Адрес магазина</th>
            <th>Сотрудники магазина</th>
            <th>Книги магазина и их количество</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @{
            foreach (var store in Model)
            {
                <tr>
                    <td>
                        @store.address
                    </td>
                    <td>
                        <ul>
                            @foreach (var employee in store.employees)
                            {
                                <li>@employee.surname</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var book in store.books)
                            {
                                <li>
                                    @book.title -
                                    @if (book.quantity == 0)
                                    {
                                        <span style="color: red"> @book.quantity шт.</span>
                                    }
                                    else
                                    {
                                        <span> @book.quantity шт.</span>
                                    }
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>