@model List<сoursework.Data.Models.ObjectsDB.Employee>

<h1>Сотрудники и их контактные данные</h1>
<hr />
<table class="Table">
    <thead>
        <tr>
            <th>ФИО сотрудника</th>
            <th>Номер телефона</th>
            <th>Адрес магазина</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @{
            foreach (var employee in Model)
            {
                <tr>
                    <td>
                        @employee.name
                        @employee.patronymic
                        @employee.surname

                    </td>
                    <td>
                        @employee.phoneNumber
                    </td>
                    <td>
                        @employee.idStore.address
                    </td>
                </tr>
            }
        }
    </tbody>
</table>