@model HomeViewModel
@{
    Layout = "_Layout";
}
<h1>Количество книг на складе</h1>
<hr />
<table class="Table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody id="tbody">
        @{
            foreach (var book in Model.bookRep.GetBooks().Result)
            {
                <tr>
                    <td>
                        <img src="@book.imgPath" alt="@book.imgAlterText Text" />
                    </td>
                    <td>
                        <h3>@book.title</h3>
                        @book.description
                    </td>
                    <td>
                        @book.quantity
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
