@model HomeViewModel
@{
    Layout = "_Layout";
}

<table class="Table">
    <thead>
        <tr>
            <td>ФИО сотрудника</td>
            <td>Номер телефона</td>
            <td>Адрес магазина</td>
        </tr>
    </thead>
    <tbody id="tbody">
        @{
            foreach (var employee in Model.bookRep.GetEmployees().Result)
            {
                <tr>
                    <td>
                        @employee.name
                        @employee.patronymic
                        @employee.surname

                    </td>
                    <td>
                        @employee.phoneNumber
                    </td>
                    <td>
                        @Model.bookRep.GetAddressThis(employee)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>