@model IEnumerable<сoursework.Data.Models.ObjectsDB.Position>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Таблица Positions</h1>

<p>
    <a asp-action="Create">Добавить новую должность</a>
</p>
<br />
<table class="Table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Наименование должности
            </th>
            <th>
                Зарплата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employeePosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Изменить</a> <br />
                    <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
