@model IEnumerable<сoursework.Data.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Таблица Authors</h1>

<p>
    <a class="button-action" asp-action="Create">Добавить нового автора</a>
</p>
<br />
<table class="Table">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>
        <th>
            Отчество
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patronymic)
            </td>
            <td> 
                <a asp-action="Edit" asp-route-id="@item.id">Изменить</a> <br />
                <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('.Table').tablesorter();
        var arr = $('tbody tr')
        for (var i = 0; i < arr.length; i++) {
            var id = $(arr[i]).children().first().html();
            if (id % 2 != 0) {
                $(arr[i]).css('background-color', 'silver');
            }
        }
    });
</script>