@model IEnumerable<сoursework.Data.Models.Publisher>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Таблица Publishers</h1>

<p>
    <a asp-action="Create">Добавить нового издателя</a>
</p>
<br />
<table class="Table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Название
            </th>
            <th>
                Адресс
            </th>
            <th>
                Директор
            </th>
            <th>
                Электронная почта
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Изменить</a> <br />
                    <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
